/*=======1680px(1659x881)=======*/

@media (max-width: 1680px) {
  .home-content .elips {
    max-width: 35%;
    top: 60%;
    left: -14%;
  }
}

/*=======1450px(1419x731)=======*/

@media (max-width: 1450px) {
  .container .home-content {
    padding-bottom: 0px;
  }
  .home-content .home-content__text h1 {
    font-size: 3.5em;
  }
  .home-content .elips {
    max-width: 25%;
    position: absolute;
    top: 80%;
    left: -12%;
  }
  section.about {
    padding-bottom: 150px;
  }
  section.about > .subtitle {
    margin: 0 auto 200px;
}
}

/*=======1280px(1259x855)=======*/

@media (max-width: 1280px) {
  .home .container {
    width: 80%;
  }
  .container .home-content {
    max-width: 1200px;
  }
  .home-content .elips {
    top: 72%;
  }
  .home-content .phones {
    width: 49%;
    left: 51%;
  }
  .nav-menu .menu {
    margin-left: 100px;
  }
}

/*=======1024px(1003x599)=======*/

@media (max-width: 1024px) {
  /*=======Header=======*/
  header.home {
    padding-bottom: 100px;
  }
  .home-content .home-content__text h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
  }
  .home-content .home-content__text p {
    font-size: 1.1em;
    margin-bottom: 20px;
  }
  .home-content .elips {
    max-width: 25%;
    top: 80%;
    left: -12%;
  }
  .home-content .phones {
    width: 49%;
    top: 30%;
  }
  /*=======About=======*/
  section.about > .subtitle {
    margin: 0 auto 80px;
  }
  .about .about-text {
    max-width: 400px;
    margin-left: 115px;
  }
  .about .container > img {
    width: 40%;
    right: 10px;
    top: 250px;
    position: absolute;
  }
  .about .btn-readmore {
    margin-left: 115px;
  }
  .about .container > img + img {
    right: -230px;
    top: 220px;
  }
  /*=======Showcase=======*/
  .showcase .subtitle {
    margin-bottom: 0px;
  }

  /*========Features=======*/
  .features .box-items {
    justify-content: space-around;
  }
  /*========Pricing plan=======*/
  .container > .box-items {
    justify-content: space-around;
  }
  .box-items .card {
    max-width: 300px;
    min-height: 280px;
    padding: 10px 10px;
    margin-bottom: 40px;
  }
  .box-items .card > .btn {
    left: calc(50% - 65px);
    bottom: -20px;
    position: absolute;
  }

  /*========Footer=======*/
  .container > .footer-nav {
    margin-left: 15px;
  }
  .feedback-item .fa-telegram-plane::before {
    left: calc(50% - 119px);
  }

  .feedback-item .fa-envelope::before {
    left: calc(50% - 117px);
  }

  .feedback-item .fa-phone-alt::before {
    left: calc(50% - 117px);
  }
}

/*=======768px=======*/

@media (max-width: 768px) {
  body .btn {
    font-size: 0.8em;
    padding: 10px 26px;
  }

  /*=======Header=======*/
  header.home {
   padding-bottom: 30px;
  }
  .home .container {
    width: 90%;
  }
  .container .home-content {
    max-width: 768px;
  }
  .container .nav-menu {
    margin-bottom: 50px;
  }
  .nav-menu img {
    width: 50px;
  }
  .nav-menu .menu {
    margin-left: 20px;
  }
  .nav-menu .menu li {
    font-size: 0.8em;
    margin-right: 15px;
  }
  .home-content .home-content__text h1 {
    font-size: 2em;
    margin-bottom: 15px;
  }
  .home-content .home-content__text p {
    font-size: 0.9em;
    margin-bottom: 10px;
  }
  .home-content .elips {
    max-width: 25%;
    top: 37%;
    left: -12%;
  }
  .home-content .phones {
    top: 10%;
  }
  body .btn:hover {
    background-color: #fb3864;
  }
  body .btn-b:hover {
    background-color: #08a6e4;
  }
  body .btn-g:hover {
    background-color: #58ddaf;
  }

  /*=======About=======*/
  .about > .container{
    width: 90%;
  }
  .about .container > img {
    display: none;
  }
  section.about {
    padding-bottom: 30px;
  }
  section.about .subtitle {
    margin: 0 auto 50px;
    padding: 0px 30px;
  }

  .about .about-img {
    display: block;
    position: absolute;
    opacity: 0.1;
    top: 0;
    left: -100px;
    z-index: -1;
  }
  .about .about-text {
    max-width: 600px;
    min-height: 100px;
    font-size: 0.9em;
    margin-bottom: 30px;
    margin-left: 0;
  }
  .about .btn-readmore {
    margin-left: 0px;
}

  /*=======Showcase=======*/
  body .page-title {
    font-size: 2.5em;
    padding-top: 60px;
    margin-bottom: 0px;
  }
  .showcase > .container > .subtitle {
    margin-bottom: 0px;
  }
  .showcase .swiper-container {
    width: 70%;
    min-height: 300px;
    padding-top: 0px;
    padding-bottom: 50px;
  }
  .showcase .swiper-button-prev,
  .showcase .swiper-button-next {
    font-size: 3.5em;
    top: 85%;
  }
  .showcase .swiper-button-prev {
    left: 40%;
  }
  .showcase .swiper-button-next {
    right: 40%;
  }
  .showcase .swiper-button-prev:hover {
    color: #fb3864;
  }
  .showcase .swiper-button-next:hover {
    color: #08a6e4;
  }
  /*======Features=======*/
  .features .subtitle {
    margin-bottom: 10px;
  }
  .box-items .item {
    padding: 20px 15px 20px 15px;
    max-width: 320px;
    min-height: 253px;
  }
  .box-items .item::after {
    top: 93%;
    bottom: 0;
  }
  .box-items .item:hover {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
  }

  /*=====Pricing-plan======*/
  .container > .box-items {
    margin-bottom: 50px;
  }
  .pricing-plan .subtitle {
    margin-bottom: 25px;
  }
  .box-items .card > p {
    margin-bottom: 10px;
  }
  .box-items .card.red:hover,
  .box-items .card.blue:hover,
  .box-items .card.green:hover {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
  }
  .box-items .btn.btn-shadowred:hover,
  .box-items .btn.btn-shadowblue:hover,
  .box-items .btn.btn-shadowgreen:hover  {
    box-shadow: 0 0px 0px 0px rgba(255, 255, 255, 0);
  }
  .box-items .btn.btn-g:hover {
    background-color: #58ddaf;
}
  /*======Howitworks========*/
  section.howitworks {
    margin-bottom: 40px;
  }
  .container > .howitworks-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 450px;
    margin-bottom: 0;
  }
  .howitworks-box .how {
    position: static;
    height: 200px;
    max-width: 320px;
    min-height: 150px;
    padding: 10px 20px 10px 20px;
  }

  .howitworks img {
    display: none;
  }
  .howitworks .subtitle {
    margin-bottom: 15px;
  }
  .subscribe-wrapper .banner-subscribe::after {
    display: none;
  }
  .howitworks-box .how-1:hover,
  .howitworks-box .how-2:hover,
  .howitworks-box .how-3:hover {
    box-shadow: 0 0px 0px 0px rgba(255, 255, 255, 0);
  }

  .howitworks-box .how h3 {
    text-align: center;
    margin: 20px 0;
    position: relative;
  }
  .howitworks-box .how span {
    top: calc(50% - 215px);
    left: calc(50% - 200px);
    position: absolute;
  }

  .howitworks-box .how-2 span {
    top: calc(50% - 215px);
    left: calc(50% + 165px);
  }

  .howitworks-box .how-3 span {
    top: calc(50% + 15px);
    left: calc(50% - 20px);
  }

  /*=======Subscribe=========*/
  aside.banner-subscribe {
    margin-bottom: 50px;
    padding-bottom: 50px;
  }
  div.subscribe-wrapper {
    height: 100%;
    min-height: 400px;
    overflow: hidden;
  }
  .banner-subscribe .subtitle {
    margin-bottom: 10px;
  }
  .banner-subscribe h2 {
    font-size: 2.5em;
    padding-top: 30px;
    margin-bottom: 15px;
  }
  .container > form.subscribe {
    min-height: 33px;
    margin: 50px auto 0px;
  }
  .container > .subscribe .postemail {
    min-height: 33px;
    padding: 5px 110px 5px 20px;
  }

  /*========Contact Us=======*/

  .container > .subtitle {
    margin-bottom: 50px;
  }
  .form-wrapper .feedback input:focus,
  .form-wrapper .feedback input:hover,
  .form-wrapper .feedback textarea:focus,
  .form-wrapper .feedback textarea:hover {
    box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0);
    outline: none;
  }
  /*========Footer=======*/

  footer .footer-wrapper {
    min-height: 325px;
    padding-top: 30px;
  }
  .social-items > .feedback-wrapper {
    margin: 0px 0px 0px 5px;
  }
  .container > .social-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 0 30px 20px;
  }
  .container > .footer-nav {
    font-size: 0.9em;
  }
  .footer-nav .list {
    margin-left: 10px;
  }

  body .scrollup {
    right: 50px;
  }
  .container > .footer-nav a:hover,
  .feedback-item > .social a:hover,
  .feedback-wrapper > .social-icons a:hover {
    color: #fff;
  }
}

/*=======420px(420x640)=======*/

@media (max-width: 420px) {
  /*=======Header=======*/
  .home .container {
    width: 100%;
    max-width: 380px;
  }

  .container .home-content__text {
    text-align: center;
    padding-top: 20px;
    max-width: 100%;
    min-height: 250px;
  }
  .home .phones,
  .home .elips {
    display: none;
  }
  .home .nav-menu {
    padding-top: 15px;
    margin-bottom: 15px;
  }
  .home .nav-menu ul {
    display: none;
  }
  .container > .hamburger {
    display: block;
  }

   .container > .content {
    height: 50%;
    min-height: 360px;
    max-height: 370px;
 
  }
  .nav-menu .btn-login {
    margin-right: 60px;
  }

  /*=======About=======*/
  .about .about-text {
    margin-bottom: 20px;
    max-width: 350px;
    margin-left: 0px;
  }
  .about .btn-readmore {
    margin-left: 0px;
  }
  .about .about-img {
    width: 215%;
    left: -200px;
  }
  /*=======Banner-apps=======*/

  aside.banner-apps {
    padding-bottom: 40px;
  }
  aside.banner-apps > h2 {
    font-size: 2.5em;
    padding-top: 40px;
    margin-bottom: 25px;
  }

  .banner-apps > a > img {
    width: 100%;
    max-width: 25%;
  }

  /*=======Showcase=======*/
  .container > .subtitle {
    margin-bottom: 0px;
  }

  .container > .swiper-container {
    width: 90%;
  }
  .showcase .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 280px;
  }
  .showcase .swiper-button-prev,
  .showcase .swiper-button-next {
    font-size: 2.5em;
    top: 87%;
  }
  .showcase .swiper-button-prev {
    left: 37%;
  }
  .showcase .swiper-button-next {
    right: 37%;
  }

  /*======Features=======*/
  .box-items .item {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 25px 5px;
    width: 100%;
    max-width: 320px;
    min-height: 150px;
  }
  .box-items .item h3,
  .box-items .item img {
    margin-bottom: 10px;
  }

  .box-items .item::after {
    top: 90%;
    bottom: 0;
  }

  /*=====Pricing-plan======*/
  .container > .subtitle {
    margin-bottom: 70px;
  }
  section.pricing-plan {
    padding-bottom: 0px;
  }
  .container > .box-items {
    justify-content: center;
  }
  .box-items .card {
    max-width: 210px;
    min-height: 300px;
    padding: 10px 10px;
    margin-bottom: 50px;
  }

  .box-items .card > p {
    margin-bottom: 10px;
  }
  .box-items .card > span {
    font-size: 2.83em;
    margin-bottom: 15px;
  }
  .box-items .card > ul > li {
    font-size: 1.16em;
    line-height: 1.92em;
  }
  .box-items .card > .btn {
    left: calc(50% - 55px);
    bottom: -18px;
  }
  .container > .box-items {
    margin-bottom: 0px;
  }
  /*========How It Works=======*/
  .howitworks-box .how {
    margin-bottom: 30px;
  }
  .howitworks-box .how span {
    top: calc(50% - 330px);
    left: calc(50% - 15px);
  }
  .howitworks-box .how-2 span {
    top: calc(50% - 100px);
    left: calc(50% - 15px);
  }
  .howitworks-box .how-3 span {
    top: calc(50% + 130px);
    left: calc(50% - 15px);
  }

  /*=======Banner subscribe=======*/
  div.subscribe-wrapper {
    min-height: 430px;
  }
  /*========Contact Us=======*/
  section.contactus > .container > .page-title {
    padding-top: 110px;
  }
  .container > .contactus-box {
    flex-direction: column;
    justify-content: center;
  }
  .container > .contactus-box h3 {
    margin: 0px auto 0px;
  }
  .form-wrapper .feedback input[type="text"],
  textarea {
    font-size: 13px;
    min-height: 20px;
    padding: 5px 5px 5px 20px;
    margin: 20px 0 16px 0;
  }
  .form-wrapper .feedback textarea {
    font-size: 13px;
    min-height: 100px;
  }
  .form-wrapper form.feedback {
    min-height: 200px;
  }

  /*========Footer=======*/
  .footer-wrapper > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container > .footer-nav {
    width: 100%;
    max-width: 380px;
    min-height: 150px;
    margin-left: 0px;
  }
  .footer-nav .list {
    margin-left: 0px;
  }
  .container > .social-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .feedback-item .fa-telegram-plane::before,
  .feedback-item .fa-phone-alt::before,
  .feedback-item .fa-envelope::before {
    top: calc(50% - 10px);
    left: calc(50% - 104px);
  }
  .feedback-wrapper > .feedback-item i {
    font-size: 1.4em;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
  .feedback-wrapper > .social-icons {
    margin: 25px 0px 30px 25px;
  }
  .container > .footer-nav h2 {
    font-size: 1em;
  }
  .container > .footer-nav li {
    font-size: 0.8em;
  }
  .feedback-item a {
    font-size: 0.8em;
  }
}

/*=======320-375px(320x568 & 375x667)=======*/
@media (min-width: 320px) and (max-width: 375px) {
  /*=======Header=======*/
  .container .home-content__text {
    padding-top: 10px;
  }
  .home-content .home-content__text h1 {
    font-size: 1.5em;
  }
  .home-content .home-content__text p {
    font-size: 0.9em;
    margin-bottom: 35px;
  }
  .home .content .navigation {
    font-size: 1.7em;
  }
  .container > .content {
    height: 55%;
    min-height: 370px;
 
  }

  /*=======About=======*/
  body .page-title {
    padding-top: 30px;
  }
  section.about .subtitle {
    margin: 0 auto 20px;
    padding: 0px 10px;
  }

  /*=======Showcase =======*/
  .container > .subtitle {
    margin-bottom: 20px;
  }
  .showcase .swiper-container {
    width: 70%;
    min-height: 240px;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .showcase .swiper-slide {
    height: 200px;
    margin-bottom: 20px;
  }
  .showcase .swiper-button-prev,
  .showcase .swiper-button-next {
    font-size: 2em;
    top: 78%;
  }
  .showcase .swiper-button-prev {
    left: 35%;
  }
  .showcase .swiper-button-next {
    right: 35%;
  }

  .contactus > .container > h2 {
    margin-top: -100px;
  }

  .container > .footer-nav {
    padding-top: 0;
    font-size: 0.9em;
    min-height: 170px;
  }
  .container > .footer-nav h2 {
    font-size: 1em;
  }
  .container > .footer-nav li {
    font-size: 0.8em;
  }
  .feedback-item a {
    font-size: 0.8em;
  }
  .feedback-item .fa-telegram-plane::before,
  .feedback-item .fa-envelope::before,
  .feedback-item .fa-phone-alt::before {
    left: calc(50% - 105px);
  }
  .feedback-wrapper > .social-icons {
    margin: 25px 0px 30px 40px;
  }
  footer .copyriting p {
    font-size: 0.8em;
  }
}
