/*=======1680px(1659x881)=======*/

@media (max-width: 1680px) {
  .home-content .elips {
    max-width: 35%;
    top: 60%;
    left: -14%;
  }
  .container > img.ellips-small {
    top: 40%;
  }
}
/*=======1450px(1419x731)=======*/

@media (max-width: 1450px) {
  .container .home-content {
    padding-bottom: 0px;
  }
  .home-content .home-content__text h1 {
    font-size: 3.5em;
  }
  .home-content .elips {
    max-width: 25%;
    position: absolute;
    top: 80%;
    left: -12%;
  }
  section.about {
    padding-bottom: 150px;
  }
  section.about > .subtitle {
    margin: 0 auto 200px;
  }
  .container > img.ellips-small {
    top: 50%;
  }
}

/*=======1280px(1259x855)=======*/

@media (max-width: 1280px) {
  body .container {
    max-width: 980px;
  }
  .container .home-content {
    max-width: 1200px;
  }
  .home-content .elips {
    top: 72%;
  }
  .home-content .phones {
    width: 49%;
    left: 51%;
  }
  .nav-menu .menu {
    margin-left: 100px;
  }
  .container > .about-text {
    margin: 207px 0 30px;
  }
  .swiper-container .swiper-button-prev,
  .swiper-container .swiper-button-next {
    top: 87%;
  }
  .container > .swiper-container {
    min-height: 700px;
  }

  section.pricing-plan {
    padding-bottom: 50px;
  }
  .container > .box-items {
    min-height: 550px;
  }
  .box-items .card {
    max-width: 300px;
    min-height: 300px;
    padding: 10px 10px;
    margin-bottom: 40px;
  }
  .box-items > .card > .btn {
    left: calc(50% - 70px);
  }

  .container > a + img {
    right: 50px;
    top: 320px;
    position: absolute;
  }
  .container > img.ellips-small {
    width: 25%;
    top: 45%;
  }
}

/*=======1024px(1003x599)=======*/

@media (max-width: 1024px) {
  body .container {
    max-width: 900px;
  }
  /*=======Header=======*/
  header.home {
    padding-bottom: 100px;
  }
  .home-content .home-content__text h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
  }
  .home-content .home-content__text p {
    font-size: 1.1em;
    margin-bottom: 20px;
  }
  .home-content .elips {
    max-width: 25%;
    top: 83%;
    left: -12%;
  }
  .home-content .phones {
    width: 49%;
    top: 30%;
  }
  /*=======About=======*/
  section.about {
    padding-bottom: 50px;
  }
  section.about > .subtitle {
    margin: 0 auto 80px;
  }
  .container > .about-text {
    margin: 90px 0 30px;
    max-width: 400px;
  }
  .about .container > img {
    width: 40%;
    right: 10px;
    top: 250px;
    position: absolute;
  }

  .about .container > img + img {
    right: -230px;
    top: 220px;
  }
  /*=======Showcase=======*/
  .showcase .subtitle {
    margin-bottom: 0px;
  }
  .swiper-container .swiper-button-prev,
  .swiper-container .swiper-button-next {
    top: 87%;
  }
  .container > .swiper-container {
    padding-top: 20px;
    min-height: 600px;
  }

  /*========Features=======*/
  section.features {
    padding-bottom: 50px;
  }
  .features .box-items {
    justify-content: space-around;
  }
  /*========Pricing plan=======*/
  section.pricing-plan {
    padding-bottom: 0px;
  }
  .container > .box-items {
    min-height: 450px;
  }
  .box-items .card {
    max-width: 270px;
  }
  .box-items > .card > .btn {
    left: calc(50% - 70px);
    bottom: -25px;
    position: absolute;
  }

  .container > .box-items ul {
    margin-bottom: 40px;
  }

  .box-items > .card > p {
    margin-bottom: 20px;
  }
  .box-items .card > .btn {
    left: calc(50% - 65px);
    bottom: -20px;
    position: absolute;
  }
  /*========How it works=======*/
  section.howitworks {
    padding-bottom: 50px;
  }
  .container > .howitworks-box {
    max-width: 900px;
    min-height: 750px;
    margin: 50px 0 0 50px;
  }
  .howitworks-box > img + img {
    width: 35%;
    margin-bottom: 50px;
  }
  .howitworks-box .how {
    margin-left: 50px;
    max-width: 650px;
  }
  .howitworks-box .how .how-text {
    max-width: 350px;
    margin-bottom: 30px;
    margin-top: 0;
  }

  /*=======Banner subscribe=======*/
  div.banner-wrapper {
    min-height: 425px;
  }
  .container > img.ellips-small {
    width: 25%;
    top: 55%;
  }
  /*========Footer=======*/
  .container > .footer-nav {
    margin-left: 15px;
  }
  .feedback-item .fa-telegram-plane::before {
    left: calc(50% - 119px);
  }

  .feedback-item .fa-envelope::before,
  .feedback-item .fa-phone-alt::before {
    left: calc(50% - 117px);
  }
}

/*=======768px-823px=======*/

@media (max-width: 823px) {
  body .container {
    max-width: 650px;
  }
  body .btn {
    font-size: 0.8em;
    padding: 10px 26px;
  }
  body .btn:hover {
    background-color: #fb3864;
  }
  body .btn-b:hover {
    background-color: #08a6e4;
  }
  body .btn-g:hover {
    background-color: #58ddaf;
  }
  .container > .page-title {
    font-size: 2.5em;
    padding-top: 30px;
  }
  .container > p.subtitle {
    margin-bottom: 50px;
  }

  /*=======Header=======*/
  header.home {
    padding-bottom: 30px;
  }
  .container .nav-menu {
    margin-bottom: 50px;
  }
  .nav-menu img {
    width: 50px;
  }
  .nav-menu .menu {
    margin-left: 20px;
  }
  .nav-menu .menu li {
    font-size: 0.8em;
    margin-right: 15px;
  }
  .home-content .home-content__text h1 {
    font-size: 2em;
    margin-bottom: 15px;
  }
  .home-content .home-content__text p {
    font-size: 0.9em;
    margin-bottom: 10px;
  }
  .home-content .elips {
    max-width: 25%;
    top: 37%;
    left: -12%;
  }
  .home-content .phones {
    top: 11%;
  }

  /*=======About=======*/
  .about .container > img {
    display: none;
  }
  section.about {
    padding-bottom: 30px;
  }
  .about .about-text {
    max-width: 600px;
    min-height: 100px;
    font-size: 0.9em;
    margin: 50px 0px 30px;
  }
  .about .btn-readmore {
    margin-left: 0px;
  }
  /*=======Banner-apps=======*/
  aside.banner-apps {
    padding-bottom: 30px;
  }
  aside.banner-apps > h2 {
    font-size: 2.5em;
    padding-top: 30px;
    margin-bottom: 25px;
  }

  /*=======Showcase=======*/

  .showcase .swiper-container {
    width: 70%;
    min-height: 300px;
    padding-top: 0px;
    padding-bottom: 50px;
  }
  .swiper-container .swiper-slide {
    height: 370px;
  }
  .showcase .swiper-button-prev,
  .showcase .swiper-button-next {
    font-size: 3.5em;
    top: 90%;
  }
  .showcase .swiper-button-prev {
    left: 40%;
  }
  .showcase .swiper-button-next {
    right: 40%;
  }
  .showcase .swiper-button-prev:hover {
    color: #fb3864;
  }
  .showcase .swiper-button-next:hover {
    color: #08a6e4;
  }
  /*======Features=======*/
  section.features {
    padding-bottom: 10px;
  }
  .features .subtitle {
    margin-bottom: 10px;
  }
  .box-items .item {
    padding: 20px 15px 20px 15px;
    max-width: 280px;
    min-height: 253px;
  }
  .box-items .item::after {
    top: 93%;
    bottom: 0;
  }
  .box-items .item:hover {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
  }

  /*=====Pricing-plan======*/

  .pricing-plan > .container > .box-items {
    margin-bottom: 50px;
    justify-content: space-around;
  }

  .box-items .card > p {
    margin-bottom: 10px;
  }
  .box-items .card.red:hover,
  .box-items .card.blue:hover,
  .box-items .card.green:hover {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
  }
  .box-items .btn.btn-shadowred:hover,
  .box-items .btn.btn-shadowblue:hover,
  .box-items .btn.btn-shadowgreen:hover {
    box-shadow: 0 0px 0px 0px rgba(255, 255, 255, 0);
  }
  .box-items .btn.btn-g:hover {
    background-color: #58ddaf;
  }
  .box-items .card {
    max-width: 270px;
    min-height: 320px;
    padding: 10px 0 30px;
    margin-bottom: 40px;
    margin-left: 30px;
  }
  .box-items .card > .btn {
    left: calc(50% - 50px);
  }
  /*======Howitworks========*/

  .container > .howitworks-box {
    display: block;
    min-height: 450px;
    margin: 0 auto;
  }

  .howitworks-box .how {
    max-width: 600px;
    min-height: 180px;
    padding: 10px 20px 10px 20px;
    margin: 0 auto;
  }
  .howitworks-box .how .how-text {
    max-width: 600px;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .how-text .number {
    margin: 0 auto;
  }
  .howitworks img {
    display: none;
  }
  .howitworks .subtitle {
    margin-bottom: 15px;
  }
  .subscribe-wrapper .banner-subscribe::after {
    display: none;
  }
  .howitworks-box .how-1:hover,
  .howitworks-box .how-2:hover,
  .howitworks-box .how-3:hover {
    box-shadow: 0 0px 0px 0px rgba(255, 255, 255, 0);
  }

  /*=======Subscribe=========*/
  aside.banner-subscribe {
    min-height: 300px;
  }
  div.banner-wrapper {
    min-height: 350px;
  }
  .container > img.ellips-small {
    width: 25%;
    top: 58%;
  }
  .banner-subscribe h2 {
    font-size: 2.5em;
    padding-top: 30px;
    margin-bottom: 15px;
  }
  .container > form.subscribe {
    min-height: 33px;
    margin: 50px auto 0px;
  }
  .container > .subscribe .postemail {
    min-height: 33px;
    padding: 5px 110px 5px 20px;
  }

  /*========Contact Us=======*/

  .form-wrapper .feedback input:focus,
  .form-wrapper .feedback input:hover,
  .form-wrapper .feedback textarea:focus,
  .form-wrapper .feedback textarea:hover {
    box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0);
    outline: none;
  }
  /*========Footer=======*/

  footer .footer-wrapper {
    min-height: 325px;
    padding-top: 30px;
  }
  .social-items > .feedback-wrapper {
    margin: 0px 0px 0px 5px;
  }
  .container > .social-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 0 30px 20px;
  }
  .container > .footer-nav {
    font-size: 0.9em;
  }
  .footer-nav .list {
    margin-left: 10px;
  }

  body .scrollup {
    right: 50px;
  }
  .container > .footer-nav a:hover,
  .feedback-item > .social a:hover,
  .feedback-wrapper > .social-icons a:hover {
    color: #fff;
  }
}
/*=======735=======*/

@media (max-width: 735px) {
  .home-content .elips {
    top: 95%;
    left: -12%;
  }
  .home-content .phones {
    top: 25%;
  }
  /*section.showcase{
    padding-bottom: 20px;
  }
  .showcase .swiper-container {
    min-height: 300px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .showcase .swiper-button-prev,
  .showcase .swiper-button-next {
    font-size: 2.5em;
    top: 90%;
  }
  .showcase .swiper-slide {
    height: 270px;
    padding-bottom: 30px;
  }
} */

/*=======420px(420x640)   412x732(oneplus3t)=======*/
@media (max-width: 420px) {
  body .container {
    max-width: 420px;
    margin: 0 auto;
  }
  .container > p.subtitle {
    margin-bottom: 20px;
  }
  /*=======Header=======*/
  .container .home-content__text {
    text-align: center;
    padding-top: 20px;
    max-width: 100%;
    min-height: 250px;
  }
  .home .nav-menu {
    padding-top: 15px;
    margin-bottom: 15px;
  }
  .home .nav-menu ul {
    display: none;
  }
  .container > .hamburger {
    display: block;
  }
  .nav-menu .btn-login {
    margin-right: 60px;
  }
  .home .phones,
  .home .elips {
    display: none;
  }
  /*=======About=======*/
  .about .about-text {
    margin-bottom: 20px;
    max-width: 380px;
    margin: 0 auto 20px;
  }
  .about .btn-readmore {
    margin-left: 0px;
  }

  .about img.about-img {
    width: 160%;
    display: block;
    position: absolute;
    opacity: 0.1;
    top: 0;
    left: -120px;
    z-index: -1;
  }
  /*=======Banner-apps=======*/

  aside.banner-apps {
    padding-bottom: 40px;
  }
  aside.banner-apps > h2 {
    font-size: 2.5em;
    padding-top: 40px;
    margin-bottom: 25px;
  }

  .banner-apps > a > img {
    width: 100%;
    max-width: 25%;
  }

  /*=======Showcase=======*/
  .container > .subtitle {
    margin-bottom: 0px;
  }

  .container > .swiper-container {
    width: 90%;
  }
  .showcase .swiper-slide {
    height: 280px;
  }
  .showcase .swiper-button-prev,
  .showcase .swiper-button-next {
    font-size: 2.5em;
    top: 87%;
  }
  .showcase .swiper-button-prev {
    left: 37%;
  }
  .showcase .swiper-button-next {
    right: 37%;
  }

  /*======Features=======*/
  .box-items .item {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 25px 5px;
    width: 100%;
    max-width: 320px;
    min-height: 150px;
  }
  .box-items .item h3,
  .box-items .item img {
    margin-bottom: 10px;
  }

  .box-items .item::after {
    top: 90%;
    bottom: 0;
  }

  /*=====Pricing-plan======*/
  .container > .subtitle {
    margin-bottom: 70px;
  }
  section.pricing-plan {
    padding-bottom: 0px;
  }
  .container > .box-items {
    justify-content: center;
  }
  .box-items .card {
    max-width: 210px;
    min-height: 300px;
    padding: 10px 10px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
  .box-items .card:last-child {
    margin-bottom: 0px;
  }

  .box-items .card > p {
    margin-bottom: 10px;
  }
  .box-items .card > span {
    font-size: 2.83em;
    margin-bottom: 15px;
  }
  .box-items .card > ul > li {
    font-size: 1.16em;
    line-height: 1.92em;
  }
  .box-items .card > .btn {
    left: calc(50% - 55px);
    bottom: -18px;
  }
  .container > .box-items {
    margin-bottom: 0px;
  }
  /*========How It Works=======*/

  /*=======Banner subscribe=======*/
  div.subscribe-wrapper {
    min-height: 100px;
  }
  .container > img.ellips-small {
    display: none;
  }
  /*========Contact Us=======*/
  section.contactus > .container > .page-title {
    padding-top: 30px;
  }
  .container > .contactus-box {
    flex-direction: column;
    justify-content: center;
  }
  .container > .contactus-box h3 {
    margin: 0px auto 0px;
    text-align: center;
  }
  .form-wrapper .feedback input[type="text"],
  textarea {
    font-size: 13px;
    min-height: 20px;
    padding: 5px 5px 5px 20px;
    margin: 20px 0 16px 0;
  }
  .form-wrapper .feedback textarea {
    font-size: 13px;
    min-height: 100px;
  }
  .form-wrapper form.feedback {
    min-height: 200px;
  }

  /*========Footer=======*/
  .footer-wrapper > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container > .footer-nav {
    width: 100%;
    max-width: 380px;
    min-height: 150px;
    margin-left: 0px;
    font-size: 1.1em;
  }
  .footer-nav .list {
    margin-left: 0px;
  }
  .container > .social-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .feedback-item .fa-telegram-plane::before,
  .feedback-item .fa-phone-alt::before,
  .feedback-item .fa-envelope::before {
    top: calc(50% - 10px);
    left: calc(50% - 104px);
  }
  .feedback-wrapper > .feedback-item i {
    font-size: 1.4em;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  .feedback-wrapper > .social-icons {
    margin: 25px 0px 30px 25px;
  }
  .container > .footer-nav h2 {
    font-size: 1em;
  }
  .container > .footer-nav li {
    font-size: 0.8em;
  }
  .feedback-item a {
    font-size: 0.8em;
  }
}
/*=======375px(375x667)=======*/
@media (max-width: 375px) {
  /*=======Header=======*/
  content .home-content__text h1 {
    font-size: 1.5em;
  }
  .home-content .home-content__text p {
    font-size: 0.9em;
    margin-bottom: 35px;
  }
  .home .content .navigation {
    font-size: 1.7em;
  }
  /*=======About=======*/

  .about img.about-img {
    width: 170%;
    left: -140px;
  }
  /*=======Showcase =======*/
  .showcase .swiper-container {
    width: 70%;
    min-height: 240px;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .showcase .swiper-slide {
    height: 200px;
    margin-bottom: 0px;
  }
  .showcase .swiper-button-prev,
  .showcase .swiper-button-next {
    font-size: 2em;
    top: 90%;
  }
  .showcase .swiper-button-prev {
    left: 35%;
  }
  .showcase .swiper-button-next {
    right: 35%;
  }

  .container > .contactus-box h3 {
    font-size: 1.5em;
  }

  .container > .contactus-box h3 {
    font-size: 1.5em;
  }
  .container > .footer-nav {
    padding-top: 0;
    font-size: 0.9em;
    min-height: 135px;
  }
  .container > .footer-nav h2 {
    font-size: 1em;
  }
  .container > .footer-nav li {
    font-size: 0.8em;
  }
  .feedback-item a {
    font-size: 0.8em;
  }
  .feedback-item .fa-telegram-plane::before,
  .feedback-item .fa-envelope::before,
  .feedback-item .fa-phone-alt::before {
    left: calc(50% - 105px);
  }
  .feedback-wrapper > .social-icons {
    margin: 25px 0px 30px 40px;
  }
  footer .copyriting p {
    font-size: 0.8em;
  }
}

@media (max-width: 360px) {
  .about img.about-img {
    width: 185%;
    left: -160px;
  }
}
@media (max-width: 320px) {
  .about img.about-img {
    width: 225%;
    left: -200px;
  }
  .showcase .swiper-container {
    min-height: 210px;
  }
  .showcase .swiper-slide {
    height: 150px;
    padding-bottom: 0;
  }
  .showcase .swiper-button-prev,
  .showcase .swiper-button-next {
    top: 85%;
  }
  .showcase .swiper-button-prev {
    left: 34%;
  }
  .showcase .swiper-button-next {
    right: 34%;
  }
}

/*=======Pixel 2XL 411x823px + 
Iphone X 375x812px =======*/
@media (max-height: 823px) {
  .container > .content {
    height: 45%;
  }
}
/*=======Iphone X 375x812=======*/
@media (max-height: 812px) {
  .container > .content {
    height: 48%;
  }
}
/*=======Pixel 411x731px + 
Iphone 6/7/8 PLUS 414x736=======*/
@media (max-height: 736px) {
  .container > .content {
    height: 49%;
  }
}
/*=======Iphone 6/7/8 375x667px =======*/
@media (max-height: 667px) {
  .container > .content {
    height: 58%;
  }
}
/*=======Galaxy S5 360x640px =======*/
@media (max-height: 640px) {
  .container > .content {
    height: 60%;
  }
}
/*=======Iphone 5/SE 320x568px =======*/
@media (max-height: 568px) {
  .container > .content {
    height: 70%;
  }
}
