/*====colors====*/
.colors {
  color: #08a6e4;
  color: #f93ec8;
  color: #f1f1f1;
  color: #13253b;
  color: #58ddaf;
  color: #fb3864;
  color: #2c2d32;
  color: #ffe266;
  color: #071828;
  color: #2a1685;
  color: #501d90;
  color: #2929cc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  color: #000;

}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

a:hover:not(.btn) {
  color: #fb3864;
}

.btn {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
  background-color: #fb3864;
  padding: 14px 36px;
  border-radius: 20px;
}

.btn.btn-b {
  background-color: #08a6e4;
}

.btn.btn-g {
  background-color: #58ddaf;
}

.btn:hover {
  background-color: #f37391;
}

.btn-b:hover {
  background-color: #72c6e7;
}

.btn.btn-g:hover {
  background-color: #95e9cc;
}

.screen {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}

/*=======Header=======*/

.home {
  background-color: #071828;
  height: 90vh;
  margin-bottom: 20px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 30px;
  margin-bottom: 115px;
}

.menu {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-left: 460px;
}

.menu li {
  margin-right: 25px;
}



.btn-login {
  padding: 11px 20px;
}

.home-content {
  width: 100%;
  max-width: 620px;
  min-height: 345px;
  color: #fff;
  position: relative;
}

.home-content h1 {
  font-size: 4.41em;
  font-weight: 500;
  line-height: 1.5em;

  margin-bottom: 35px;
}

.home-content p {
  font-size: 1.33em;
  line-height: 1.6em;
  width: 100%;
  max-width: 560px;
  min-height: 76px;
  margin-bottom: 40px;
}

.home-content>a+a {
  margin-left: 20px;
}



.home-content img {
  position: absolute;
}

.phones {
  top: -50px;
  left: 720px;
}

.elips {
  top: 110px;
  left: -700px;
}

/*=======About=======*/

.about {
  position: relative;
  overflow: hidden;
}

.page-title {
  font-size: 3em;
  font-weight: 600;
  line-height: 1.52em;
  color: #000;
  text-align: center;
  padding-top: 75px;
  margin-bottom: 15px;
}

.subtitle {
  text-align: center;
  max-width: 536px;
  min-height: 50px;
  margin: 0 auto;
}

.about>.subtitle {
  margin: 0 auto 257px;
}

.about-text {
  font-size: 1.16em;
  line-height: 2em;
  width: 100%;
  max-width: 540px;
  min-height: 200px;
  margin-bottom: 30px;
}

.container>img {
  right: 110px;
  top: 320px;
  position: absolute;
}

.container>img+img {
  right: -230px;
  top: 220px;
  position: absolute;
  z-index: -1;
}

/*=======Banner-apps=======*/

.banner-apps {
  background: #071828 url('../images/banner-apps.jpg') center no-repeat;
  height: 34.5vh;
  text-align: center;
}

.banner-apps>h2 {
  font-size: 4.16em;
  font-weight: 600;
  line-height: 1.48em;
  color: #fff;
  padding-top: 75px;
  margin-bottom: 25px;
}

.banner-apps>a>img {
  margin-right: 30px;
  border-radius: 10px;
}

.banner-apps>a>img:hover {
  box-shadow: 0 0 20px 1px white;
}

/*------Showcase-----*/

.hi-slide {
  position: relative;
  width: 754px;
  height: 600px;
  margin: 70px auto 50px;
}

.hi-slide .hi-next,
.hi-slide .hi-prev {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #f7174b;
  color: #fff;
  transition: all 0.3s;
  font-size: 20px;
  font-weight: bold;
}

.hi-slide .hi-next {
  background-color: #08a6e4;
}


.hi-next:hover {
  background-color: #9adffa;
}

.hi-prev:hover {
  background-color: #fca0b5;
}

.hi-slide>.hi-prev {
  top: 580px;
  left: calc(50% - 70px);
}

.hi-slide .hi-prev::before {
  content: "<";
}

.hi-slide>.hi-next {
  top: 580px;
  right: calc(50% - 50px);
}

.hi-slide .hi-next::before {
  content: ">";
}

.hi-slide>ul {
  list-style: none;
  position: relative;
  width: 754px;
  height: 292px;
  margin: 0;
  padding: 0;
}

.hi-slide>ul>li {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  left: 377px;
  top: 146px;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;

  cursor: pointer;
}

.hi-slide>ul>li>img {
  width: 100%;
  height: 100%;
  background-position: center;
}

.hi-slide>ul>li {
  background: none;
}


/*========Features=======*/

.features {
  background-color: #F8F6F6;
}

.features>.subtitle {
  margin-bottom: 10px;
}

.box-items {
  width: 100%;
  max-width: 1170px;
  min-height: 595px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 30px;
  padding: 30px 27px 37px 28px;

  background-color: #fff;
  width: 100%;
  max-width: 368px;
  min-height: 283px;
  border-radius: 15px;
  position: relative;
}

.item:hover {
  box-shadow: 0 0px 25px 1px rgba(0, 0, 0, 0.329);
}

.item::after {
  content: '';
  max-width: 495px;
  width: 98.3%;
  height: 9px;
  border-bottom: 9px solid #2929cc;
  border-radius: 50px;
  top: 270px;
  bottom: 0;
  position: absolute;
}

.item.startup::after {
  border-bottom: 9px solid #fb3864;
}

.item.social::after {
  border-bottom: 9px solid #FFCDAC;
}

.item.medal::after {
  border-bottom: 9px solid #ffe266;
}

.item.download::after {
  border-bottom: 9px solid #58ddaf;
}

.item.friend::after {
  border-bottom: 9px solid #08a6e4;
}

.item img {
  margin-bottom: 35px;

}

.item h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 25px;
}

.item p {
  text-align: center;
}

/*========Pricing plan=======*/

.Pricing-plan>.box-items {
  width: 100%;
  max-width: 1170px;
  min-height: 460px;
  margin: 80px auto 200px;

  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 372px;
  min-height: 482px;

  padding: 30px 90px 70px 90px;
  border-radius: 20px;
  border: 1px solid #fb3864;

  position: relative;
}

.card.blue {
  border: 1px solid #08a6e4;
}

.card.green {
  border: 1px solid #58ddaf;
}

.card.red:hover {
  box-shadow: 0 0px 25px 1px rgba(251, 56, 100, 0.329);
}

.card.blue:hover {
  box-shadow: 0 0px 25px 1px rgba(8, 165, 226, 0.329);
}

.card.green:hover {
  box-shadow: 0 0px 25px 1px rgba(88, 221, 175, 0.329);
}

.card>h3 {
  font-size: 1.66em;
  font-weight: 700;
  margin-bottom: 25px;
}

.card>span {
  font-size: 3.83em;
  font-weight: 300;
  color: #fb3864;
  margin-bottom: 25px;
}

.card.blue>span {
  color: #08a6e4;
}

.card.green>span {
  color: #58ddaf;
}

.card>p {
  font-weight: 700;
  margin-bottom: 50px;
}

.card>ul>li {
  list-style: none;
  font-size: 1.16em;
  line-height: 2.92em;
  text-align: center;
  width: 100%;
  max-width: 175px;
  position: relative;
}

li>i.green {
  margin-right: 10px;
  color: #58ddaf;
}

li>i.red {
  margin-right: 10px;
  color: #fb3864;
}

.card>.btn {
  left: calc(50% - 75px);
  bottom: -25px;
  position: absolute;
}


/*========How It Works=======*/
.howitworks {
  margin-bottom: 100px;
}

.howitworks-box {
  width: 100%;
  max-width: 1085px;
  min-height: 750px;
  margin: 50px auto;
  position: relative;
}

.howitworks-box img+img {
  top: calc(50% - 325px);
  left: calc(50% - 485px);
  position: absolute;

  z-index: -1;
}

.how {
  display: inline-block;
  width: 100%;
  max-width: 372px;
  min-height: 179px;
  padding: 10px 20px 10px 20px;
  border: 1px solid #fb3864;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
}

.how h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin: 40px auto 20px 0;
  position: relative;
}

.how span {
  font-size: 4.91em;
  line-height: 1em;
  font-weight: 600;
  color: #fb3864;
  margin-left: 30px;
  opacity: .3;

  top: calc(50% - 64px);
  left: calc(50% - 140px);
  position: absolute;
}

.how-2 span {
  color: #08a6e4;
  left: calc(50% - 160px);
}

.how-3 span {
  color: #58ddaf;
  left: calc(50% - 140px);
}

.how-1 {
  right: 150px;
  top: 40px;
}

.how-2 {
  right: 20px;
  top: calc(50% - 95px);
  border: 1px solid #08a6e4;
}

.how-3 {
  right: 150px;
  bottom: 40px;
  border: 1px solid #58ddaf;
}

.how-1:hover {
  box-shadow: 0 0px 25px 1px rgba(251, 56, 100, 0.329);
}

.how-2:hover {
  box-shadow: 0 0px 25px 1px rgba(8, 165, 226, 0.329);
}

.how-3:hover {
  box-shadow: 0 0px 25px 1px rgba(88, 221, 175, 0.329);
}

/*=======Banner subscribe=======*/
.banner-subscribe {
  background: #13253b url(../images/bgbanner.jpg);
  color: #fff;
  height: 39vh;
  margin-bottom: 100px;
  position: relative;
}

.subscribe-wrapper {
  height: 55vh;
  overflow: hidden;

}

.banner-subscribe h2 {
  color: #fff;
}

form.subscribe {
  width: 100%;
  max-width: 537px;
  min-height: 46px;
  background-color: #fff;
  border-radius: 50px;
  margin: 50px auto 0px;
  position: relative;

}

.subscribe .postemail {
  width: 100%;
  min-height: 45px;
  padding: 5px 150px 5px 50px;
  border-radius: 50px;
  max-width: 537px;

  font-weight: 500;
  border: 0;
  outline: none;
}

.subscribe .btn-subscribe,
.btn.btn-subscribe {
  right: -1px;
  top: 0;
  border-radius: 50px;
  color: #fff;
  border: 0;
  position: absolute;
  cursor: pointer;
  outline: none;
}

.banner-subscribe::after {
  content: url(../images/bg-ellips-small.png);

  width: 286px;
  height: 286px;
  right: -40px;
  bottom: -50px;
  position: absolute;

}

/*========Contact Us=======*/
.contactus h2 {
  margin-top: -140px;
}

.contactus-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;

}

.contactus-box h3 {
  margin: 170px 15px 0 0;
  font-size: 2em;
  line-height: 2em;
  font-weight: 600;
}

.textarea-name {
  width: 100%;
  max-width: 305px;
  min-height: 81px;
}

form.feedback {
  width: 100%;
  width: 750px;
  min-height: 372px;
}

.feedback input[type=text],
textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: #000;

  width: 100%;
  max-width: 356px;
  min-height: 65px;
  border: 1px solid #ffadc0;
  border-radius: 4px;
  padding: 10px 10px 10px 20px;
  margin: 20px 0 16px 0;
}

.feedback input[type=text]+input[type=text] {
  margin-left: 30px;
}

.feedback textarea {
  width: 100%;
  max-width: 743px;
  min-height: 182px;
}

.feedback input:focus,
.feedback input:hover,
.feedback textarea:focus,
.feedback textarea:hover {
  box-shadow: 0 0 5px 1px rgba(250, 122, 152, 0.678);
  outline: none;
}

.feedback .btn-subscribe {
  position: static;
}

/*========Footer=======*/

.footer-wrapper {
  margin-top: 85px;
  width: 100%;
  max-width: 100vw;
  min-height: 413px;
  background: #13253b;
  color: #fff;

  padding-top: 77px;
}

.footer-wrapper>.container {
  display: flex;
}

.footer-nav {
  width: 100%;
  max-width: 710px;
  min-height: 258px;

  display: flex;
  justify-content: space-between;
}

.footer-nav h2 {
  font-size: 1.33em;
  line-height: 2.31em;
  font-weight: 600;
  text-transform: uppercase;
}

.footer-nav li {
  list-style: none;
  font-size: 1.2em;
  line-height: 2.46em;
  font-weight: 500;
}

.social-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin:5px 0 80px 115px;
}

.social-items {
  display: flex;
  width: 100%;
  max-width: 279px;
  min-height: 41px;
  font-size: 1.16em;
  line-height: 1.8em;
  position: relative;
}

.feedback-item {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 25px;
}

.social-icons {
  margin-top: 55px;
  font-size: 1.5em;
}

.social-icons a {
  margin-left: 15px;
}

.feedback-item i {
  margin-right: 20px;
  text-align: center;
  font-size: 1.6em;
  background-color: #fb3864;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.fa-telegram-plane::before {
  top: calc(50% - 12px);
  left: calc(50% - 125px);
  position: absolute;
}

.fa-envelope::before {
  top: calc(50% - 12px);
  left: calc(50% - 126px);
  position: absolute;
}

.fa-phone-alt::before {
  top: calc(50% - 12px);
  left: calc(50% - 125px);
  position: absolute;
}

/*======Copyriting=====*/
.copyriting{
  width: 100%;
  max-width: 100vw;
  min-height: 8.75vh;
  background-color: #071828;
  text-align: center;
}

.copyriting p{
 padding:30px  0;
}

.scrollup{
  width:40px;
  height:40px;
  opacity:0.5;
  position:fixed;
  bottom:50px;
  right:100px;
  display:none;
  text-indent:-9999px;
  background: url(../images/icon_top.png) no-repeat;
  }
