/*====colors====*/
.colors {
  color: #08a6e4;
  color: #f93ec8;
  color: #f1f1f1;
  color: #13253b;
  color: #58ddaf;
  color: #fb3864;
  color: #2c2d32;
  color: #ffe266;
  color: #071828;
  color: #2a1685;
  color: #501d90;
  color: #2929cc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  color: #000;

}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

a:hover:not(.btn) {
  color: #fb3864;
}

.btn {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 400;
  background-color: #fb3864;
  padding: 1.16em 3em;
  border-radius: 1.66em;
}

.btn.btn-b {
  background-color: #08a6e4;
}

.btn.btn-g {
  background-color: #58ddaf;
}

.btn:hover {
  background-color: #f37391;
}

.btn-b:hover {
  background-color: #72c6e7;
}

.btn.btn-g:hover {
  background-color: #95e9cc;
}

.screen {
  width: 100%;
  max-width: 160em;
  height: 81.25em;
} 

.container {
  width: 100%;
  max-width: 98.33em;
  padding: 0 1.25em;
  margin: 0 auto;
}

/*=======Header=======*/

.home {
  background-color: #071828;
  height: 70.58em;
  margin-bottom: 1.66em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 2.5em;
  margin-bottom: 9.58em;
}

.menu {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-left: 38.33em;
}

.menu li {
  margin-right: 2em;
}

.btn-login {
  padding: 1em 1.6em;
}

.home-content {
  width: 100%;
  max-width: 51.66em;
  min-height: 28.75em;
  color: #fff;
  position: relative;
}

.home-content h1 {
  font-size: 4.41em;
  font-weight: 500;
  line-height: 1.5em;

  margin-bottom: 0.67em;
}

.home-content p {
  font-size: 1.33em;
  line-height: 1.6em;
  width: 100%;
  max-width: 46.66em;
  min-height: 6.3em;
  margin-bottom: 3.3em;
}

.home-content>a+a {
  margin-left: 1.6em;
}



.home-content img {
  position: absolute;
}

/* .phones {
  background-image: url(../images/phones1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100%;
  max-width: 66.5em;
  height: 45.8em;
  margin-left: 750px; 
  margin-bottom: 1550px; 
  z-index: -5;
} */
.phones{
  top: -5em;
  left: 50em;
}
.elips {
  top: 9.16em;
  left: -58.3em;
}

/*=======About=======*/

.about {
  position: relative;
  overflow: hidden;
}

.page-title {
  font-size: 3em;
  font-weight: 600;
  line-height: 1.52em;
  color: #000;
  text-align: center;
  padding-top: 2em;
  margin-bottom: 0.5em;
}

.subtitle {
  text-align: center;
  max-width: 44.66em;
  min-height: 4.2em;
  margin: 0 auto;
}

.about>.subtitle {
  margin: 0 auto 21.41em;
}

.about-text {
  font-size: 1.16em;
  line-height: 2em;
  width: 100%;
  max-width: 38.57em;
  min-height: 14.28em;
  margin-bottom: 2.15em;
}

.container>img {
  right: 9.16em;
  top: 26.66em;
  position: absolute;
}
.container > .btn {
  margin-bottom: 20em;
}
.container>img+img {
  right: -19.16em;
  top: 18.3em;
  position: absolute;
  z-index: -1;
}

/*=======Banner-apps=======*/

.banner-apps {
  background: #071828 url('../images/banner-apps.jpg') center no-repeat;
  max-height: 27em; 
  text-align: center;
}

.banner-apps>h2 {
  font-size: 4.16em;
  font-weight: 600;
  line-height: 1.48em;
  color: #fff;
  padding-top: 1.36em;
  margin-bottom: 0.45em;
}

.banner-apps>a>img {
  margin-right: 2.5em;
  border-radius: 0.9em;
}

.banner-apps>a>img:hover {
  box-shadow: 0 0 1.6em 0.08em white;
}

/*------Showcase-----*/

.hi-slide {
  position: relative;
  width: 62.83em;
  max-height: 50em;
  margin: 5.9em auto 4.2em;
}

.hi-slide .hi-next,
.hi-slide .hi-prev {
  position: absolute;
  top: 50%;
  width: 2em;
  height: 2em;
  margin-top: -1em;
  border-radius: 2.5em;
  line-height: 2em;
  text-align: center;
  cursor: pointer;
  background-color: #f7174b;
  color: #fff;
  transition: all 0.3s;
  font-size: 1.7em;
  font-weight: bold;
}

.hi-slide .hi-next {
  background-color: #08a6e4;
}


.hi-next:hover {
  background-color: #9adffa;
}

.hi-prev:hover {
  background-color: #fca0b5;
}

.hi-slide>.hi-prev {
  top: 29em;
  left: calc(50% - 3.5em);
}

.hi-slide .hi-prev::before {
  content: "<";
}

.hi-slide>.hi-next {
  top: 29em;
  right: calc(50% - 2.5em);
}

.hi-slide .hi-next::before {
  content: ">";
}

.hi-slide>ul {
  list-style: none;
  position: relative;
  width: 37.7em;
  height: 14.6em;
  margin: 0;
  padding: 0;
}

.hi-slide>ul>li {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  left: 18.85em;
  top: 7.3em;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;

  cursor: pointer;
}

.hi-slide>ul>li>img {
  width: 100%;
  height: 100%;
  background-position: center;
}

.hi-slide>ul>li {
  background: none;
}


/*========Features=======*/

.features {
  background-color: #F8F6F6;
}

.features>.subtitle {
  margin-bottom: 0.9em;
}

.box-items {
  width: 100%;
  max-width: 97.5em;
  min-height: 49.58em;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 2.5em;
  padding: 2.5em 2.25em 3em 2.3em;

  background-color: #fff;
  width: 100%;
  max-width: 30.6em;
  min-height: 23.58em;
  border-radius: 1.25em;
  position: relative;
}

.item:hover {
  box-shadow: 0 0 2em 0.08em rgba(0, 0, 0, 0.329);
}

.item::after {
  content: '';
  max-width: 41.25em;
  width: 98.3%;
  height: 0.75em;
  border-bottom: 0.75em solid #2929cc;
  border-radius: 4.16em;
  top: 23.5em;
  bottom: 0;
  position: absolute;
}

.item.startup::after {
  border-bottom: 0.75em solid #fb3864;
}

.item.social::after {
  border-bottom: 0.75em solid #FFCDAC;
}

.item.medal::after {
  border-bottom: 0.75em solid #ffe266;
}

.item.download::after {
  border-bottom: 0.75em solid #58ddaf;
}

.item.friend::after {
  border-bottom: 0.75em solid #08a6e4;
}

.item img {
  margin-bottom: 2.9em;

}

.item h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 2.1em;
}

.item p {
  text-align: center;
}

/*========Pricing plan=======*/

.Pricing-plan>.box-items {
  width: 100%;
  max-width: 97.5em;
  min-height: 38.33em;
  margin: 6.6em auto 16.6em;

  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 31em;
  min-height: 40.16em;

  padding: 2.5em 7.5em 5.83em 7.5em;
  border-radius: 1.6em;
  border: 0.08em solid #fb3864;

  position: relative;
}

.card.blue {
  border: 0.08em solid #08a6e4;
}

.card.green {
  border: 0.08em solid #58ddaf;
}

.card.red:hover {
  box-shadow: 0 0 2.1em 0.08em rgba(251, 56, 100, 0.329);
}

.card.blue:hover {
  box-shadow: 0 0 2.1em 0.08em rgba(8, 165, 226, 0.329);
}

.card.green:hover {
  box-shadow: 0 0 2.1em 0.08em rgba(88, 221, 175, 0.329);
}

.card>h3 {
  font-size: 1.66em;
  font-weight: 700;
  margin-bottom: 2em;
}

.card>span {
  font-size: 3.83em;
  font-weight: 300;
  color: #fb3864;
  margin-bottom: 0.54em;
}

.card.blue>span {
  color: #08a6e4;
}

.card.green>span {
  color: #58ddaf;
}

.card>p {
  font-weight: 700;
  margin-bottom: 4.16em;
}

.card>ul>li {
  list-style: none;
  font-size: 1.16em;
  line-height: 2.92em;
  text-align: center;
  width: 100%;
  max-width: 12.5em;
  position: relative;
}

li>i.green {
  margin-right: 0.83em;
  color: #58ddaf;
}

li>i.red {
  margin-right: 0.83em;
  color: #fb3864;
}

.card>.btn {
  left: calc(50% - 6.25em);
  bottom: -2.1em;
  position: absolute;
}


/*========How It Works=======*/
.howitworks {
  margin-bottom: 8.3em;
}

.howitworks-box {
  width: 100%;
  max-width: 90.4em;
  min-height: 41.6em;
  margin: 4.1em auto;
  position: relative;
}

.howitworks-box img+img {
  top: calc(50% - 27em);
  left: calc(50% - 40.4em);
  position: absolute;

  z-index: -1;
}

.how {
  display: inline-block;
  width: 100%;
  max-width: 31em;
  min-height: 14.9em;
  padding: 0.83em 1.6em 0.83em 1.6em;
  border: 0.083em solid #fb3864;
  background-color: #fff;
  border-radius: 1.6em;
  position: absolute;
}

.how h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin: 2.2em auto 1.1em 0;
  position: relative;
}

.how span {
  font-size: 4.91em;
  line-height: 1em;
  font-weight: 600;
  color: #fb3864;
  margin-left: 0.50em;
  opacity: .3;

  top: calc(50% - 1.08em);
  left: calc(50% - 2.37em);
  position: absolute;
}

.how-2 span {
  color: #08a6e4;
  left: calc(50% - 2.71em);
}

.how-3 span {
  color: #58ddaf;
  left: calc(50% - 2.37em);
}

.how-1 {
  right: 12.5em;
  top: 3.3em;
}

.how-2 {
  right: 1.6em;
  top: calc(50% - 7.9em);
  border: 0.08em solid #08a6e4;
}

.how-3 {
  right: 12.5em;
  bottom: 3.3em;
  border: 0.08em solid #58ddaf;
}

.how-1:hover {
  box-shadow: 0 0 2.1em 0.08em rgba(251, 56, 100, 0.329);
}

.how-2:hover {
  box-shadow: 0 0 2.1em 0.08em rgba(8, 165, 226, 0.329);
}

.how-3:hover {
  box-shadow: 0 0 2.1em 0.08em rgba(88, 221, 175, 0.329);
}

/*=======Banner subscribe=======*/
.banner-subscribe {
  background: #13253b url(../images/bgbanner.jpg);
  color: #fff;
  height: 31.5em;
  margin-bottom: 8.3em;
  position: relative;
}

.subscribe-wrapper {
  height: 41.5em;
  overflow: hidden;

}

.banner-subscribe h2 {
  color: #fff;
}

form.subscribe {
  width: 100%;
  max-width: 44.75em;
  min-height: 3.8em;
  background-color: #fff;
  border-radius: 4.1em;
  margin: 4.1em auto 0;
  position: relative;

}

.subscribe .postemail {
  width: 100%;
  min-height: 3.45em;
  padding: 0.4em 12.5em 0.4em 4.1em;
  border-radius: 54.1em;
  max-width: 44.75em;

  font-weight: 500;
  border: 0;
  outline: none;
}

.subscribe .btn-subscribe,
.btn.btn-subscribe {
  right: -0.08em;
  top: 0;
  border-radius: 4.1em;
  color: #fff;
  border: 0;
  position: absolute;
  cursor: pointer;
  outline: none;
}

.ellips-bg {
  background-image: url(../images/bg-ellips-small.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  max-width: 29.1em;
  min-height: 29.1em;

  margin-left: 134.1em;
  margin-top: 12.5em;
  position: absolute;

}

/* content: url(../images/bg-ellips-small.png);
background-size: 100%;
max-width: 100%;
max-width: 286px;
max-height: 286px;
right: 20px;
bottom: -50px;
position: absolute; */
/*========Contact Us=======*/

.contactus h2 {
  margin-top: -3.6em;
}

.contactus-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 92.5em;
  margin: 0 auto;
  padding: 0 1.25em;

}

.contactus-box h3 {
  margin: 7em 0.625em 0 0;
  font-size: 2em;
  line-height: 2em;
  font-weight: 600;
}

.textarea-name {
  width: 100%;
  max-width: 12.7em;
  min-height: 3.375em;
}

form.feedback {
  width: 100%;
  width: 62.5em;
  min-height: 31em;
}

.feedback input[type=text],
textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25em; /* 15px */
  font-weight: 400;
  line-height: 1.5em;
  color: #000;

  width: 100%;
  max-width: 23.7em;
  min-height: 4.3em;
  border: 0.06em solid #ffadc0;
  border-radius: 0.25em;
  padding: 0.66em 0.66em 0.66em 1.33em;
  margin: 1.33em 0 1em 0;
}

.feedback input[type=text]+input[type=text] {
  margin-left: 2em;
}

.feedback textarea {
  width: 100%;
  max-width: 61.91em;
  min-height: 15.16em;
}

.feedback input:focus,
.feedback input:hover,
.feedback textarea:focus,
.feedback textarea:hover {
  box-shadow: 0 0 0.41em 0.08em rgba(250, 122, 152, 0.678);
  outline: none;
}

.feedback .btn-subscribe {
  position: static;
}

/*========Footer=======*/

.footer-wrapper {
  margin-top: 7em;
  width: 100%;
  max-width: 160em;
  min-height: 34.4em;
  background: #13253b;
  color: #fff;

  padding-top: 6.41em;
}

.footer-wrapper>.container {
  display: flex;
}

.footer-nav {
  width: 100%;
  max-width: 59.16em;
  min-height: 21.5em;

  display: flex;
  justify-content: space-between;
}

.footer-nav h2 {
  font-size: 1.33em;
  line-height: 2.31em;
  font-weight: 600;
  text-transform: uppercase;
}

.footer-nav li {
  list-style: none;
  font-size: 1.2em;
  line-height: 2.46em;
  font-weight: 500;
}

.social-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0.4em 0 6.66em 9.58em;
}

.social-items {
  display: flex;
  width: 100%;
  max-width: 19.92em;
  min-height: 2.92em;
  font-size: 1.16em;
  line-height: 1.8em;
  position: relative;
}

.feedback-item {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 2.1em;
}

.social-icons {
  margin-top: 3em;
  font-size: 2em;
}

.social-icons a {
  margin-left: 1em;
}

.feedback-item i {
  margin-right: 1em;
  text-align: center;
  font-size: 1.7em;
  background-color: #fb3864;
  width: 2.1em;
  height: 2.1em;
  border-radius: 50%;
}

.fa-telegram-plane::before {
  top: calc(50% - 0.5em);
  left: calc(50% - 5.4em);
  position: absolute;
}

.fa-envelope::before {
  top: calc(50% - 0.5em);
  left: calc(50% - 5.3em);
  position: absolute;
}

.fa-phone-alt::before {
  top: calc(50% - 0.5em);
  left: calc(50% - 5.3em);
  position: absolute;
}

/*======Copyriting=====*/
.copyriting {
  width: 100%;
  max-width: 160em;
  min-height: 7.1em;
  background-color: #071828;
  text-align: center;
}

.copyriting p {
  padding: 2.5em 0;
}

.scrollup {
  width: 3.33em;
  height: 3.33em;
  opacity: 0.5;
  position: fixed;
  bottom: 4.1em;
  right: 8.3em;
  display: none;
  text-indent: -9999em;
  background: url(../images/icon_top.png) no-repeat;
}